
		
		div.pager {
			width:100%;
			text-align:center;
		}
		div.pager  ul {
			height:20px;
			margin:10px auto;
		}
		div.pager  ul li 		  { display:inline-block; margin:5px 0; width:20px ; font-weight:bold; color:#ddd }
		div.pager  ul li.selected { text-decoration: underline; color:#f40808 }
		div.pager  ul li a,
		div.pager  ul li a:visited,
		div.pager  ul li a:link,
		div.pager  ul li a:active { text-decoration: none; color:#555 }
		div.pager  ul li a:hover { text-decoration: none; color:#f00 }
	
